.side-container__group
  - current_user.groups.each do |group|
    = link_to '#' do
      %p.side-container__group__groupName
        = group.name
      %p.side-container__group__messages
        メッセージはまだありません。