.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}

// .news {
//   text-align: center;
//   color: #fff;
//   background-color: $light_blue;
//   height:25px;
//   width: 100vw;
//   line-height:25px;
//   font-size:1.4rem;
// }
